<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Vous avez un nouveau t&eacute;moignage sur votre livre d'or</title>
<style>
a:link {
color:#046380;
text-decoration:underline;
}
a:visited {
color:#A7A37E;
text-decoration:none;
}
a:hover {
color:#002F2F;
text-decoration:underline;
}
a:active {
color:#046380;
text-decoration:none;
}
</style>
</head>
<body>
<table align="center" width="600" style="border: #666666 1px solid;" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#efefef" style="border-bottom: #666666 1px solid;" ><br>
      <TABLE border="0" align="center">
        <TR>
          <TD><img src="images/generic_header.gif" alt="" border="0"></TD>
        </TR>
      </TABLE>
      <br>
    </td>
  </tr>
  <tr>
    <td><TABLE width="510" border="0" cellpadding="0" cellspacing="0" align="center">
        <TR>
          <TD><p style="font-family: arial,  helvetica, sans-serif;font-size: 25px;color: #666666;">CORALOISIRS</p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;">Un nouveau message à été laissé sur votre livre d'or. Il vous faut maintenant aller le valider, ou le refuser.</p>
            <hr/>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;">{{ name }}</p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;">{{ message }}</p>
            <hr/>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Pour ce faire, vous devez vous connecter à votre <a href="{{ url }}" title="">administration</a></p>

<br><br> </TD>
        </TR>
      </TABLE>
</table>
</body>
</html>
