np_news_news_list_json:
    pattern:  /news.{format}
    defaults: { _controller: NPNewsBundle:News:list, _format: json }

np_news_news_index:
    pattern: /
    defaults: { _controller: NPNewsBundle:News:index }

np_news_news_show:
    pattern: /{id}/show
    defaults: { _controller: NPNewsBundle:News:show }
    requirements:
      id: \d+

np_news_news_new:
    pattern: /new
    defaults: { _controller: NPNewsBundle:News:new }

np_news_news_edit:
    pattern: /{id}/edit
    defaults: { _controller: NPNewsBundle:News:edit }
    requirements:
      id: \d+

np_news_news_delete:
    pattern: /{id}/delete
    defaults: { _controller: NPNewsBundle:News:delete }
    requirements:
      id: \d+

np_news_news_groupprocess:
    pattern: /groupprocess
    defaults: { _controller: NPNewsBundle:News:groupProcess }
