/************
STYLE DE LA LISTE A TRIER
************/
ul#list-photos li {
  cursor:move;
  background:#fff;
  max-width: 140px;
}
ul#list-photos li.highlight {
  background:#f2f2f2;
  border:1px dashed #212326;
  height:160px;
  width:140px;
}